.navbar{
    font-weight: 500;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.left-section{
    display: flex;
    align-items: center;
}

.logo{
    font-size: 50px;
}

.left-section p{
    line-height: 60%;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: -3px;
}

ul{
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
}

.right-section{
    display: flex;
    gap: 50px;
}